.body-class {
  display: grid;
  background: #7e7ee7;
  grid-template-rows: 50px 50px auto;
  justify-self: center;
  align-items: center;  
}

h1 {
  display: grid;
  color: aliceblue;
  justify-self: center;
}

h2 {
  display: grid;
  color: aliceblue;
  justify-self: center;
}

p {
  color: aquamarine;
  max-width: 400px;
}

.fill-div {
  display: grid;
  justify-self: center;
  width: 400px;
}

.form-div-class {
  display: grid;
  justify-self: center;
  padding: auto;
  background: darkblue;
  width: 500px;
  min-width: 320px;
  justify-content: center;
  padding: 0px -10px 300px 20px;
}

label {
  color: aquamarine;
  width: 700px;
}

input[type=text] {
  width: 400px;
}

input[type=email] {
  width: 400px;
}

input[type=number] {
  width: 400px;
}

input[type=checkbox] {
  box-shadow:0px 0px 10px red;
}



#comments {
  width: 400px;
  height: 100px;
  text-align: start;
}

#submit {
  display: flex;
  justify-content: center;
  background: chartreuse;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 417px;
}

